<!DOCTYPE html>
<html>
    <head>
        <title>Videoconference Dish CSS3 & Vanilla JavaScript</title>

        <!-- Core -->
        <link rel="stylesheet" href="dist/core/styles.css">
        <script src="dist/core/video.js"></script>
    </head>
    <body>
        <div id="Dish">
            <div class="Camera " style="background-color:red;">Hello</div>
            <div class="Camera" style="background-color:red;"></div>
        </div>
        <a href="https://github.com/Alicunde/Videoconference-Dish-CSS-JS" target="_blank">GITHUB</a>
    </body>
</html>