<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<title>Sign In – Meego</title>
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="google-signin-client_id" content="52704063809-8ltb87mf5h880505mofd1l6p0pdrhdgr.apps.googleusercontent.com">
		<!-- Bootstrap core CSS -->
		<link href="dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
		<!-- Swipe core CSS -->
		<link href="dist/css/swipe.min.css" type="text/css" rel="stylesheet">
		<!-- Favicon -->
		<link href="dist/img/favicon.png" type="image/png" rel="icon">

	</head>
	<body class="start">
		<main>
			<div class="layout">
				<!-- Start of Sign In -->
				<div class="main order-md-1">
					<div class="start">
						<div class="container">
							<div class="col-md-12">
								<div class="content">
									<h1>Welcome to Meego!</h1>
									<div id="my-signin2" class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div>
									<br>
									<form action="home" method="POST">
										<div class="form-group">
											<input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required>
											<button class="btn icon"><i class="material-icons">mail_outline</i></button>
										</div>
										<div class="form-group">
											<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
											<button class="btn icon"><i class="material-icons">lock_outline</i></button>
										</div>
										<div class="form-group">
											<!-- An element to toggle between password visibility -->
											<input type="checkbox" onclick="showPassword()"> Show Password
										</div>
										<button type="submit" class="btn button">Sign In</button>

										

										<div class="callout">
											<span>Don't have account? <a href="sign-up">Create Account</a></span>
										</div>
									</form>
									
									<br>
									<h3>or Join a meeting now with Meeting ID:</h3>
										<div class="w-50 mx-auto">
										<div class="form-group">
											<input id="join-meetno" name="join-meetno" type="text" class="form-control confno" autocomplete="off" maxlength="40" placeholder="Meeting ID" required/>
											<button class="btn icon "><i class="material-icons">link_outline</i></button>
										</div>
										<button class="btn button " type="submit" id="join-meeting" name="join-meeting" onclick="joinGuestMeeting()">Join Meeting</button>
										</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Sign In -->
				<!-- Start of Sidebar -->
				<div class="aside order-md-2">
					<div class="container">
						<div class="col-md-12">
							<div class="preference">
								<h2>Hello, Friend!</h2>
								<p>Sign up for Meego and find your friends. Create an account to start video conference with people you know. It's easy to register.</p>
								<a href="sign-up" class="btn button">Sign Up</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Sidebar -->
			</div> <!-- Layout -->
		</main>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://apis.google.com/js/platform.js?onload=renderButton" async></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="dist/js/vendor/popper.min.js"></script>
		<script src="dist/js/bootstrap.min.js"></script>
		<script src="dist/js/home.js"></script>
		<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
		
		<script>
			/* Sign in button with Google */
			function onSignIn(googleUser) {
			var profile = googleUser.getBasicProfile();
			var token = profile.getId(); // Do not send to your backend! Use an ID token instead.
			var u_name = profile.getName();
			var u_profilepic = profile.getImageUrl();
			var u_email = profile.getEmail();// This is null if the 'email' scope is not present.
			
			$.ajax({

				url: "loginGoogle",
				method: "POST",
				data: {
					u_name:u_name,
					u_profilepic: u_profilepic,
					u_email:u_email,
					token:token
				},
				success:function(response){  
					if(response.msg == 'success'){ 
						window.location.href = "/home"
					}
				},  
				error:function(response){  
					alert('server error occured')  
				}
			});

			};

			function renderButton() {
			gapi.signin2.render('my-signin2', {
				'scope': 'profile email',
				'width': 240,
				'height': 50,
				'longtitle': true,
				'theme': 'dark',
				'onsuccess': onSuccess,
				'onfailure': onFailure
			});
			}

			function showPassword() {
				
				var x = document.getElementById("password");
				if (x.type === "password") {
				x.type = "text";
				} else {
				x.type = "password";
				}
			}
			const joinGuestMeeting = () => {
				var meetingId = $("#join-meetno");
				var errorMessage;

				alert(meetingId.val());
				(async () => {
					const rawResponse = await fetch(`/validateName/${meetingId.val()}`);
					const content = await rawResponse.json();

					console.log(content);
					if (content.valid) {
						alert("ok")
						window.location.href = `/joinGuestMeeting/${meetingId.val()}`;
					} else {
						JSAlert.alert("Sorry, Room not found.");
					}
				})();
				
			};
		</script>
		<%
		if (typeof(message) !=="undefined"){
			if (message=="error") { %> 
				<script>JSAlert.alert("Wrong email or password. Please try again.");</script> 
			<% } %>

			<% 
			if (message=="success") { %> 
				<script>JSAlert.alert("Account created succcessful. Please login again.");</script> 
			<% } 
			} 
		%>
	</body>

</html>

