<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<title>Video Conferencing Application</title>
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Tags Input CSS-->
		<link href="dist/css/tagsinput.css" type="text/css" rel="stylesheet" >
		
		<!-- Bootstrap core CSS -->
		<link href="dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
		<!-- Swipe core CSS -->
		<link href="dist/css/swipe.min.css" type="text/css" rel="stylesheet">
		
		<!-- Favicon -->
		<link href="dist/img/favicon.png" type="image/png" rel="icon">

		

	  <!-- JavaScript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
		crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" 
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" 
		crossorigin="anonymous">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" 
		crossorigin="anonymous">
		</script>
		<script src="dist/js/tagsinput.js"></script>
	</head>
	<body>
		<main>
            
			<div class="layout">
				<!-- Start of Navigation -->
				<div class="navigation">
					<div class="container">
						<div class="inside">
							<div class="nav nav-tab menu">
								<a href="#home" data-toggle="tab"class="active">Home<i class="material-icons active">home</i></a>
								<a href="#contact" data-toggle="tab" class="f-grow1">Contact<i class="material-icons">account_circle</i></a>
								<a href="#notifications" data-toggle="tab" class="f-grow1">Notification<i class="material-icons">notifications_none</i></a>
								<a href="#discussions" data-toggle="tab" class="f-grow1">Chat<i class="material-icons">chat_bubble_outline</i></a>
								<a href="#schedule" data-toggle="tab"class="f-grow1">Schedule<i class="material-icons">today</i></a>
								<a href="#settings" data-toggle="tab" >Settings<i class="material-icons">settings</i></a>
								<button class="btn power" onclick="visitPage();">Log out<i class="material-icons">power_settings_new</i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Navigation -->
				<!-- Start of Sidebar -->
				<div class="sidebar" id="sidebar">
					<div class="container ">
						<div class="col-md-12">
							<div class="tab-content">
								<!-- Start of Room -->
								<div class="tab-pane fade active show" id="home">			
									<div class="settings">
                                        <div class="search">
                                            <form class="form-inline position-relative">
                                                <input type="search" class="form-control" id="conversations" placeholder="Search for room...">
                                                <button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
                                            </form>
                                            <button class="btn create" data-toggle="modal" data-target="#addNewRoom"><i class="material-icons">add</i></button>
                                        </div>

										<div class="categories" id="roomDetails">
											<h1>Rooms</h1>
											<!-- Start of My Account -->
											<div class="category discussions">
												<a href="#" class="title collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													<div class="data">
														<h5>Room 1 </h5>
														<p>Project 1 Discussion</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
												<div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#roomDetails">
													<div class="list-group content" id="chats" role="tablist">
                                                        <a href="#list-open" class="filterDiscussions all read single" id="list-chat-list" data-toggle="list" role="tab">
                                                           <div class="data">
                                                                <h5>General</h5>
                                                                <p>This is a default channel</p>
                                                            </div>
                                                        </a>									
                                                        <a href="#list-open2" class="filterDiscussions all read single" id="list-open2-list" data-toggle="list" role="tab">
                                                            <div class="data">
                                                                <h5>Random</h5>
                                                                <p>This is a random channel</p>
                                                            </div>
                                                        </a>									
                                                    </div>
												</div>
                                            </div>

                                            <div class="category discussions">
												<a href="#" class="title collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
													<div class="data">
														<h5>Room 2 </h5>
														<p>Stress Free Campaign 2020</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
												<div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionSettings">
													<div class="list-group content" id="chats" role="tablist">
                                                        <a href="#list-open" class="filterDiscussions all read single" id="list-chat-list" data-toggle="list" role="tab">
                                                           <div class="data">
                                                                <h5>General</h5>
                                                                <p>This is a default channel</p>
                                                            </div>
                                                        </a>									
                                                        <a href="#list-open2" class="filterDiscussions all read single" id="list-open2-list" data-toggle="list" role="tab">
                                                            <div class="data">
                                                                <h5>AJK</h5>
                                                                <p>This is a AJK channel</p>
                                                            </div>
                                                        </a>									
                                                    </div>
												</div>
                                            </div>
											<!-- End of Room -->
											<!-- Start of Password Settings -->
											<div class="category">
												
											</div>
											<!-- End of Password Settings -->
											<!-- Start of Notifications Settings -->
										</div>
									</div>
								</div>
								<!-- End of Settings -->	
							    
								<!-- End of Room -->
								<!-- Start of Contacts -->
								<div class="tab-pane fade" id="contact">
									<div class="search">
										<form class="form-inline position-relative">
											<input type="search" class="form-control" id="people" placeholder="Search for people...">
											<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
										</form>
										<button class="btn create" data-toggle="modal" data-target="#addNewContact"><i class="material-icons">person_add</i></button>
									</div>
									<div class="list-group sort">
										<button class="btn filterMembersBtn active show" data-toggle="list" data-filter="all">All</button>
										<button class="btn filterMembersBtn" data-toggle="list" data-filter="online">Online</button>
										<button class="btn filterMembersBtn" data-toggle="list" data-filter="offline">Offline</button>
									</div>						
									<div class="contacts">
										<h1>Contacts</h1>
										<div class="list-group" id="contacts" role="tablist">
											<a href="#" class="filterMembers all online contact" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-female-1.jpg" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
												<div class="status">
													<i class="material-icons online">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5>Janette Dalton</h5>
													<p>Sofia, Bulgaria</p>
												</div>
												<div class="person-add">
													<i class="material-icons">delete</i>
												</div>
											</a>
											<a href="#" class="filterMembers all online contact" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-male-1.jpg" data-toggle="tooltip" data-placement="top" title="Michael" alt="avatar">
												<div class="status">
													<i class="material-icons online">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5>Michael Knudsen</h5>
													<p>Washington, USA</p>
												</div>
												<div class="person-add">
													<i class="material-icons">delete</i>
												</div>
											</a>
											<a href="#" class="filterMembers all online contact" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-female-2.jpg" data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar">
												<div class="status">
													<i class="material-icons online">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5>Lean Avent</h5>
													<p>Shanghai, China</p>
												</div>
												<div class="person-add">
													<i class="material-icons">delete</i>
												</div>
											</a>
											<a href="#" class="filterMembers all online contact" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-male-2.jpg" data-toggle="tooltip" data-placement="top" title="Mariette" alt="avatar">
												<div class="status">
													<i class="material-icons online">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5>Mariette Toles</h5>
													<p>Helena, Montana</p>
												</div>
												<div class="person-add">
													<i class="material-icons">delete</i>
												</div>
											</a>
											<a href="#" class="filterMembers all online contact" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-female-3.jpg" data-toggle="tooltip" data-placement="top" title="Harmony" alt="avatar">
												<div class="status">
													<i class="material-icons online">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5>Harmony Otero</h5>
													<p>Indore, India</p>
												</div>
												<div class="person-add">
													<i class="material-icons">delete</i>
												</div>
											</a>
											<a href="#" class="filterMembers all offline contact" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-female-5.jpg" data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
												<div class="status">
													<i class="material-icons offline">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5>Keith Morris</h5>
													<p>Chisinau, Moldova</p>
												</div>
												<div class="person-add">
													<i class="material-icons">delete</i>
												</div>
											</a>
											<a href="#" class="filterMembers all offline contact" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-male-3.jpg" data-toggle="tooltip" data-placement="top" title="Ryan" alt="avatar">
												<div class="status">
													<i class="material-icons offline">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5>Ryan Foster</h5>
													<p>Oslo, Norway</p>
												</div>
												<div class="person-add">
													<i class="material-icons">delete</i>
												</div>
											</a>
											<a href="#" class="filterMembers all offline contact" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-male-4.jpg" data-toggle="tooltip" data-placement="top" title="Mildred" alt="avatar">
												<div class="status">
													<i class="material-icons offline">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5>Mildred Bennett</h5>
													<p>London, United Kingdom</p>
												</div>
												<div class="person-add">
													<i class="material-icons">delete</i>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- End of Contacts -->
								<!-- Start of Discussions -->
								<div class="tab-pane fade " id="discussions" >
									<div class="search">
										<form class="form-inline position-relative">
											<input type="search" class="form-control" id="conversations" placeholder="Search for conversations...">
											<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
										</form>
										<button class="btn create" data-toggle="modal" data-target="#addNewChat"><i class="material-icons">create</i></button>
									</div>
									<div class="list-group sort">
										<button class="btn filterDiscussionsBtn active show" data-toggle="list" data-filter="all">All</button>
										<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Read</button>
										<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">Unread</button>
									</div>						
									<div class="discussions">
										<h1>Conversations</h1>
										<div class="list-group" id="chats" role="tablist">
											<a href="#list-chat" class="filterDiscussions all read single " id="list-chat-list" data-toggle="list" role="tab">
												<img class="avatar-md" src="dist/img/avatars/avatar-female-1.jpg" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
												<div class="status">
													<i class="material-icons online">fiber_manual_record</i>
												</div>
												<div class="new bg-yellow">
													<span>+7</span>
												</div>
												<div class="data">
													<h5>Janette Dalton</h5>
													<span>Mon</span>
													<p>No problem</p>
												</div>
											</a>									
											<a href="#list-empty" class="filterDiscussions all read single" id="list-empty-list" data-toggle="list" role="tab">
												<img class="avatar-md" src="dist/img/avatars/avatar-male-1.jpg" data-toggle="tooltip" data-placement="top" title="Michael" alt="avatar">
												<div class="status">
													<i class="material-icons offline">fiber_manual_record</i>
												</div>
												<div class="new bg-pink">
													<span>+10</span>
												</div>
												<div class="data">
													<h5>Michael Knudsen</h5>
													<span>Sun</span>
													<p>Alright....</p>
												</div>
											</a>									
										</div>
									</div>
								</div>
								<!-- End of Discussions -->
								<!-- Start of Notifications -->
								<div id="notifications" class="tab-pane fade">
									<div class="search">
										<form class="form-inline position-relative">
											<input type="search" class="form-control" id="notice" placeholder="Filter notifications...">
											<button type="button" class="btn btn-link loop"><i class="material-icons filter-list">filter_list</i></button>
										</form>
									</div>
									<div class="list-group sort">
										<button class="btn filterNotificationsBtn active show" data-toggle="list" data-filter="all">All</button>
										<button class="btn filterNotificationsBtn" data-toggle="list" data-filter="latest">Latest</button>
										<button class="btn filterNotificationsBtn" data-toggle="list" data-filter="oldest">Oldest</button>
									</div>						
									<div class="notifications">
										<h1>Notifications</h1>
										<div class="list-group" id="alerts" role="tablist">
											
											<a href="#" class="filterNotifications all latest notification" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-female-3.jpg" data-toggle="tooltip" data-placement="top" title="Louis" alt="avatar">
												<div class="status">
													<i class="material-icons online">fiber_manual_record</i>
												</div>
												<div class="data">
													<p>Louis have just send you a message.</p>
													<span>Aug 23, 2020</span>
												</div>
											</a>
											<a href="#" class="filterNotifications all oldest notification" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-female-5.jpg" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
												<div class="status">
													<i class="material-icons offline">fiber_manual_record</i>
												</div>
												<div class="data">
													<p>Keith have just sent you a new message.</p>
													<span>Dec 22, 2017</span>
												</div>
											</a>
											<a href="#" class="filterNotifications all oldest notification" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-female-2.jpg" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
												<div class="status">
													<i class="material-icons offline">fiber_manual_record</i>
												</div>
												<div class="data">
													<p>Jane have just sent you a message.</p>
													<span>Nov 29, 2017</span>
												</div>
											</a>
											<a href="#" class="filterNotifications all oldest notification" data-toggle="list">
												<img class="avatar-md" src="dist/img/avatars/avatar-male-3.jpg" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
												<div class="status">
													<i class="material-icons offline">fiber_manual_record</i>
												</div>
												<div class="data">
													<p>Ryan have just sent you a new message.</p>
													<span>Sep 31, 2017</span>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- End of Notifications -->
								<!-- Start of Schedule -->
							
								<div id="schedule" class="tab-pane fade">
									<div class="search">
										<form class="form-inline position-relative">
											<input type="search" class="form-control" id="conversations" placeholder="Search for schedule">
											<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
										</form>
										<button class="btn create" data-toggle="modal" data-target="#addNewSchedule"><i class="material-icons">add</i></button>
									</div>
									<div class="list-group sort">
										<button class="btn filterDiscussionsBtn active show" data-toggle="list" data-filter="all">All</button>
										<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Upcoming</button>
										<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">Past</button>
									</div>						
									<div class="discussions">
										<h1>Schedule</h1>
										<div class="list-group" id="chats" role="tablist">
											<a href="#list-agenda" class="filterDiscussions all unread single" id="list-agenda-list" data-toggle="list" role="tab">
												<div class="data">
													<h5>Meeting 1</h5>
													<span>2 Aug 2020 - Wed</span>
													<p>Discussion about Assignment </p>
													<p>Room 1</p>
													<span>2 pm</span>
												</div>
											</a>									
											<a href="#list-agenda" class="filterDiscussions all read single" id="list-agenda-list" data-toggle="list" role="tab">
												<div class="data">
													<h5>Meeting 2</h5>
													<span>15 Aug 2020 - Tue</span>
													<p>Discussion about Assignment </p>
													<p>Room 2</p>
													<span>10 am</span>
												</div>
											</a>	
											<a href="#list-agenda" class="filterDiscussions all read single " id="list-agenda-list" data-toggle="list" role="tab">
												<div class="data">
													<h5>Meeting 3</h5>
													<span>17 Aug 2020 - Thurs</span>
													<p>Discussion about Assignment </p>
													<p>Room 1</p>
													<span>3 pm</span>
												</div>
											</a>									
											<a href="#list-agenda" class="filterDiscussions all read single " id="list-agenda-list" data-toggle="list" role="tab">
												<div class="data">
													<h5>Meeting 4</h5>
													<span>21 Aug 2020 - Mon</span>
													<p>Discussion about Assignment </p>
													<p>Room 2</p>
													<span>2 pm</span>
												</div>
											</a>									
										</div>
									</div>
								</div>
								<!-- End of Schedule -->
								<!-- Start of Settings -->
								<div class="tab-pane fade" id="settings">			
									<div class="settings">
										<div class="profile">
											<img class="avatar-xl" src="dist/img/avatars/avatar-female-6.jpg" alt="avatar">
											<h1><a href="#">Katy Perry</a></h1>
											<span>katyp@gmail.com</span>
											<div class="stats">
												<div class="item">
													<h2>6</h2>
													<h3>Contacts</h3>
												</div>
												<div class="item">
													<h2>2</h2>
													<h3>Rooms</h3>
												</div>
												<div class="item">
													<h2>12</h2>
													<h3>Points</h3>
												</div>
											</div>
										</div>
										<div class="categories" id="accordionSettings">
											<h1>Settings</h1>
											<!-- Start of My Account -->
											<div class="category">
												<a href="#" class="title collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													<i class="material-icons md-30 online">person_outline</i>
													<div class="data">
														<h5>My Account</h5>
														<p>Update your profile details</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
												<div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionSettings">
													<div class="content">
														<div class="upload">
															<div class="data">
																<img class="avatar-xl" src="dist/img/avatars/avatar-female-6.jpg" alt="image">
																<label>
																	<input type="file">
																	<span class="btn button">Change Profile Picture</span>
																</label>
															</div>
															<p>For best results, use an image at least 256px by 256px in either .jpg or .png format!</p>
														</div>
														<form>
															<div class="parent">
																<div class="field">
																	<label for="firstName">First name <span>*</span></label>
																	<input type="text" class="form-control" id="firstName" placeholder="First name" value="Perry" required>
																</div>
																<div class="field">
																	<label for="lastName">Last name <span>*</span></label>
																	<input type="text" class="form-control" id="lastName" placeholder="Last name" value="Katy" required>
																</div>
															</div>
															<div class="parent">
																<div class="field">
																	<label for="gender">Gender : </label>
																</div>
																<div class="field">
																	<label for="firstName"> Female</label>
																	<input type="radio" id="firstName" name="gender" value="female" checked>
																</div>
																<div class="field">
																	<label for="lastName">Male</label>
																	<input type="radio" id="lastName" name="gender" value="male" >
																</div>
															</div>
															<div class="field">
																<label for="location">Birthday</label>
																<input type="date" class="form-control" id="birthday" value ="1996-07-06"required>
															</div>
															<div class="field">
																<label for="text">Phone Number <span>*</span></label>
																<input type="email" class="form-control" id="email" placeholder="Enter your phone number." value="011-1234567" required>
															</div>
															<div class="field">
																<label for="email">Email <span>*</span></label>
																<input type="email" class="form-control" id="email" placeholder="Enter your email address" value="happyday@gmail.com" required>
															</div>
															
															<button class="btn btn-link w-100">Delete Account</button>
															<button type="submit" class="btn button w-100">Apply</button>
														</form>
													</div>
												</div>
											</div>
											<!-- End of My Account -->
											<!-- Start of Password Settings -->
											<div class="category">
												<a href="#" class="title collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseThree">
													<i class="material-icons md-30 online">lock</i>
													<div class="data">
														<h5>Password</h5>
														<p>change current password</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
												<div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionSettings">
													<div class="content">
														<div class="field">
															<label for="password">Enter Current Password</label>
															<input type="password" class="form-control" id="password" required>
														</div>
														<div class="field">
															<label for="password">Enter New Password</label>
															<input type="password" class="form-control" id="password" required>
														</div>
														<div class="field">
															<label for="password"> Confirm Password</label>
															<input type="password" class="form-control" id="password" required>
														</div>
														<button type="submit" class="btn button w-100">Change Password</button>
													</div>
												</div>
											</div>
											<!-- End of Password Settings -->
											<!-- Start of Notifications Settings -->
											<div class="category">
												<a href="#" class="title collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
													<i class="material-icons md-30 online">notifications_none</i>
													<div class="data">
														<h5>Notifications</h5>
														<p>Turn notifications on or off</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
												<div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionSettings">
													<div class="content no-layer">
														<div class="set">
															<div class="details">
																<h5>Desktop Notifications</h5>
																<p>You can switch on to receive notifications when you have new messages.</p>
															</div>
															<label class="switch">
																<input type="checkbox" checked>
																<span class="slider round"></span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<!-- End of Notifications Settings -->
											<!-- Start of Status Settings -->
											<div class="category">
												<a href="#" class="title collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
													<i class="material-icons md-30 online">visibility</i>
													<div class="data">
														<h5>Status</h5>
														<p>Turn status on or off</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
												<div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionSettings">
													<div class="content no-layer">
														<div class="set">
															<div class="details">
																<h5>Status</h5>
																<p>You can switch the status on to let other user know you are online or not. </p>
															</div>
															<label class="switch">
																<input type="checkbox" checked>
																<span class="slider round"></span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<!-- End of Status Settings -->

											<!-- Start of Speed Test -->
											<div class="category">
												<a href="#" class="title collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
													<i class="material-icons md-30 online">network_check</i>
													<div class="data">
														<h5>Speed Test</h5>
														<p>Check your speed here</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
												<div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionSettings">
													<div class="content no-layer">
														<div class="set">
															<div class="details">
																<h5>Speed Test</h5>
																	<p>You can check your Internet speed before a meeting </p>
															</div>
															<a href="#list-test" class="filterDiscussions all read single" id="list-test-list" data-toggle="list" role="tab">
																<span class="btn button">Start</span>
															</a>
														</div>
													</div>
												</div>
											</div>

											
											<!-- End of Speed Test -->
											
											<!-- Start of Logout -->
											<div class="category">
												<a href="sign-in.html" class="title collapsed">
													<i class="material-icons md-30 online">power_settings_new</i>
													<div class="data">
														<h5>Power Off</h5>
														<p>Log out of your account</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
											</div>
											<!-- End of Logout -->
										</div>
									</div>
								</div>
								<!-- End of Settings -->
							</div>
						</div>
					</div>
				</div>
				
                <%- include('sidebar/addForms.ejs') %>
                

				</div>
		</main>
		<!-- Bootstrap/Swipe core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="dist/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="dist/js/vendor/jquery-slim.min.js"><\/script>')</script>
		<script src="dist/js/vendor/popper.min.js"></script>
		<script src="dist/js/swipe.min.js"></script>
		<script src="dist/js/bootstrap.min.js"></script>
		<script>
			function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
			scrollToBottom(document.getElementById('content'));

			$('.add').on('click', function() {
				var html = '<tr id="add_Error">';
				html += '<td></td>';
				html += '<td><input type="text" name="a_topic" style="height:;width:100%"></td>';
				html += '<td><input name="a_presenter" list="presenter-<%= schedule[i].s_id%>" style="height:;width:100%"></td>';
				html += '<td><input name="a_time_allocated" list="time"></td>';
				html += '<td><span class="table-remove"><button type="submit" id="addAgenda" class="btn btn-info btn-rounded btn-sm my-0 text-info">Add</button></span></td>';
				html += '</tr>';
				$('#agenda tbody').prepend(html);
			});
		</script>
	</body>

</html>